.list-ticket
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0.75rem 2rem;

    border-radius: 25px;

    color:#FFF;

    font-size: 1rem;
    font-weight: 400;

    background-color: #222F3E;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.list-ticket-price
{
    font-weight: 500;
}

.list-ticket-edit
{
    transform: scale(0.95);
    margin: 10px 0px;

    background-color: #54A0FF;
    color:#222F3E;
}

.list-ticket-spent
{
    background-color: #1DD1A1;
    color:#222F3E;
}

.list-ticket-spent .list-ticket-info
{
    text-decoration: line-through;
}