@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    list-style: none;
    
    scroll-behavior: smooth;
}

*::before, *::after
{
    box-sizing: border-box;
}

:root
{
    --color-0: #222F3E;
    --color-1: #FFF;
    --color-2: #1DD1A1;
    --color-3: #54A0FF;
    --color-4: #FF6B6B;
    --color-5: #eee;

    --background-color-0: rgb(200, 214, 229,0.5);

    --background-scrollbar: rgba(34, 47, 62, 0.25);

    --background-blur: blur(4px);

    --box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

body
{
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: top;

    height: 100vh;
}

.list-app
{
    height: 100%;
    width: 425px;

    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1rem;
}

/* LIST */

.list
{
    border-radius: 15px;
    border: solid 1.5px #ccc;

    background-color: var(--background-color-0);
    backdrop-filter: var(--background-blur);

    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;

    justify-content: top;
    align-items: center;

    padding: 1rem;
    gap:0.75rem;

    height: 75vh;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.list::-webkit-scrollbar
{
    width: 10px;
}

.list::-webkit-scrollbar-track
{
    margin: 20px;
}

.list::-webkit-scrollbar-thumb
{
    background: var(--background-scrollbar);
    border-radius: 15px;
}

/* LIST TICKET */

.list-ticket
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.75rem 1rem;

    border-radius: 10px;

    color:var(--color-1);

    font-size: 1rem;
    font-weight: 400;

    background-color: var(--color-0);
    box-shadow: var(--box-shadow);
}

.list-ticket-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    gap: 1rem;
}

.list-ticket-name
{
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.list-ticket-drag-icon
{
    width: 20px;
    height: 20px;

    cursor: pointer;
}

/* FOOTER */

.list-footer
{
    border-radius: 15px;
    border: solid 1.5px #ccc;

    background-color: var(--background-color-0);
    backdrop-filter: var(--background-blur);

    box-shadow: var(--box-shadow);

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    padding: 1rem;

    width: 100%;
}

.list-footer-section
{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    padding: 0.5rem;

    background-color: var(--color-0);
    box-shadow: var(--box-shadow);

    border-radius: 10px;

    overflow: hidden;
}

.list-footer-icon-estimated,
.list-footer-icon-spent
{
    width: 30px;
    height: 30px;
}

.list-footer-estimated,
.list-footer-spent
{
    text-align: center;

    font-weight: 500;
    font-size: 1.25rem;
}

.list-footer-estimated,
.list-footer-icon-estimated
{
    color: var(--color-1);
}

.list-footer-spent,
.list-footer-icon-spent
{
    color:var(--color-2);
}

/* CONTROL */

.list-control
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap:1rem;
}

/* INPUTS */

.list-input
{
    width: 100%;

    border: solid 1.5px #ccc;
    border-radius: 15px;

    background-color: var(--background-color-0);
    backdrop-filter: var(--background-blur);

    box-shadow: var(--box-shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    gap: 1rem;
}

.list-input input
{
    width: 30%;

    padding: 1rem;

    background: none;
    background-color: var(--color-0);

    box-shadow: var(--box-shadow);

    border: none;
    border-radius: 10px;

    color: var(--color-1);
}

.list-input-price,
.list-input-amount
{
    text-align: center;
}

input::placeholder
{
    color:#eee;
    font-weight: 200;
}

input:focus
{
    outline-color: var(--color-2);
}

/* INPUT BUTTONS */

.list-button-add
{
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-2);
    box-shadow: var(--box-shadow);
}

.list-button-add-icon
{
    width: 30px;
    height: 30px;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-0);
}