@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* BASE STYLES */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    list-style: none;
    
    scroll-behavior: smooth;
}

*::before, *::after
{
    box-sizing: border-box;
}

:root
{
    --color-0: #222F3E;
    --color-1: #FFF;
    --color-2: #1DD1A1;
    --color-3: #54A0FF;
    --color-4: #FF6B6B;
    --color-5: #eee;

    --background-color-0: rgb(200, 214, 229,0.5);
    --background-scrollbar: rgba(34, 47, 62, 0.25);

    --background-blur: blur(4px);
    --box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

body
{
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    overflow: hidden;
}

#root
{
    width: 100%;
    height: 100%;
}

.list-app
{
    width: 50%;
    height: 100%;
}

/* INFO */

.tickets-info
{
    width: 100%;
}

.tickets-info-section
{
    width: 50%;
    gap: 1rem;
    overflow: hidden;
}

.tickets-info-icon-estimated,
.tickets-info-icon-spent
{
    width: 30px;
    height: 30px;
}

.tickets-info-estimated,
.tickets-info-spent
{
    max-width: 100px;

    white-space: nowrap; 
    
    text-align: center;
    text-overflow: ellipsis;
    
    font-weight: 500;
    font-size: 1.25rem;

    overflow: hidden;
}

.tickets-info-estimated,
.tickets-info-icon-estimated
{
    color: var(--color-1);
}

.tickets-info-spent,
.tickets-info-icon-spent
{
    color:var(--color-2);
}

/* TICKET LIST */

.tickets-list
{
    height: 75vh;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.tickets-list::-webkit-scrollbar
{
    width: 10px;
}

.tickets-list::-webkit-scrollbar-track
{
    margin: 20px;
}

.tickets-list::-webkit-scrollbar-thumb
{
    background: var(--background-scrollbar);
    border-radius: 15px;
}

/* TICKET */

.ticket
{
    justify-content: space-between !important;

    width: 100%;

    color:var(--color-1);
    font-size: 1rem;
    font-weight: 400;
}

.ticket-section
{
    justify-content: space-between !important;
    overflow: hidden;

    gap: 1rem;
}

.ticket-name
{
    max-width: 150px;
}

.ticket-name,
.ticket-price
{
    max-width: 100px;
}

.ticket-name,
.ticket-price,
.ticket-amount
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.ticket-drag-icon
{
    min-width: 20px;

    width: 20px;
    height: 20px;

    cursor: pointer;
}

/* CONTROL */

.tickets-control
{
    flex-direction: column;
    width: 100%;
    gap:1rem;
}

/* INPUTS */

.tickets-input-content
{
    width: 100%;
    justify-content: space-between !important;
}

.tickets-input
{
    width: 30%;
    color: var(--color-1);
}

.tickets-input::placeholder
{
    color:#eee;
    font-weight: 200;
}

.tickets-input:focus
{
    outline-color: var(--color-2);
}

/* INPUT BUTTONS */

.tickets-input-button
{
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 15px;

    background-color: var(--color-2);
    box-shadow: var(--box-shadow);
}

.list-button-add-icon
{
    width: 30px;
    height: 30px;
    color: var(--color-0);
}

/* GLOBAL */

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top
{
    flex-direction: column;
    justify-content: flex-start !important;
}

.separation
{
    padding: 1rem;
    gap: 1rem;
}

.background-blur
{
    border-radius: 15px;
    border: solid 1.5px #ccc;

    background-color: var(--background-color-0);
    backdrop-filter: var(--background-blur);

    box-shadow: var(--box-shadow);
}

.background
{
    padding: 1rem;

    background: none;
    background-color: var(--color-0);
    box-shadow: var(--box-shadow);

    border: none;
    border-radius: 10px;

    overflow: hidden;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
    .list-app
    {
        width: 100%;
    }
}